/* General styles (Sitewide) */

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section__content {
    width: 1200px;
    display: flex;
}

/* Typography */

html {
    font-family: Inter, sans-serif;
    font-size: 18px;
    color: #7E7E7E;
}

/* Header */

.header-line {
    background-color: #F2F2F2;
    color: #1C2752;
    padding: 19px 0;
}

.header-line__socials {
    display: flex;
    align-items: center;
    gap: 17px;
}

.header-line__socials img {
    width: 18px;
    height: 18px;
}

.header-line .section__content {
    justify-content: space-between;
}

.header-logo .section__content {
    justify-content: space-between;
}

.header-logo__image {
    width: 240px;
    color: #1C2752;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    font-weight: 800;
}

.header-logo__image>img {
    width: 68px;
    height: 68px;
}

.header-logo__image span img {
    width: 35px;
    height: 35px;
}

.contacts {
    display: flex;
    gap: 68px;
}
