/* General styles (Sitewide) */

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section__content {
    width: 1200px;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
}

/* Typography */

html {
    font-family: Inter, sans-serif;
    font-size: 18px;
    color: #7E7E7E;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mulish', sans-serif;
}

/* Paragraph */

.paragraph__label {
    background: #F4F4F4 url("../icons/note.svg") 16px no-repeat;
    color: #1C2752;
    align-self: flex-start;
    padding: 12px 16px 12px 52px;
    font-weight: 500;
}
.paragraph__heading {
    color: #1C2752;
    font-size: 45px;
    font-weight: 800;
    margin: 20px 0;
}
.paragraph__text {
    margin-top: 0;
}

/* Button */

.button {
    color: #1C2752;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    background-color: #FFB342;
}
.button--active {
    background-color: #FFFFFF;
}

/* Header */

.header-line {
    background-color: #F2F2F2;
    color: #1C2752;
    padding: 19px 0;
}
.header-line__socials {
    display: flex;
    align-items: center;
    gap: 17px;
}
.header-line__socials img {
    width: 18px;
    height: 18px;
}
.header-line .section__content {
    justify-content: space-between;
}
.header-logo {
    padding: 32px 0;
}
.header-logo .section__content {
    justify-content: space-between;
}
.header-logo__image {
    color: #1C2752;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    font-weight: 800;
    background: url("../icons/logo.svg") left no-repeat;
    text-align: right;
    max-width: 260px;
    width: 100%;
}

/* Contacts */

.contacts {
    display: flex;
    gap: 68px;
}
.contacts__contact {
    display: flex;
    gap: 12px;
}
.contacts__icon {
    background-color: #FFB342;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.contact__title {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #1C2752;
}
.contact__text {
    text-decoration: none;
    color: #7E7E7E;
}

/* Navigation */

.navigation {
    background-color: #FFB342;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
.navigation__menu {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 20px 0;
    margin: 0;
}
.navigation__menu-item a {
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.navigation__dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFB342;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.navigation__dropdown:hover .navigation__dropdown-content {
    display: flex;
    flex-direction: column;
}
.navigation__cta {
    padding: 20px 22px;
    color: #FFFFFF;
    text-decoration: none;
    background: #1C2752;
}

/* Navigation */

.nav-section {
    position: relative;
    top: 66px;
    margin-top: -66px;
}

/* Hero */

.hero {
    background-image: url("../media/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 924px;
}
.hero .section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__label {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2) url("../icons/gear.svg") 16px no-repeat;
}
.hero__heading {
    font-size: 60px;
    font-weight: 800;
    width: 50%;
    color: #FFFFFF;
}
.hero__cta {
    padding: 20px 33px;
}
/* About Us */

.about-us {
    align-items: center;
    height: 845px;
}
.about-us .section__content{
    background: url("../media/about-us.jpg") no-repeat;
    height: 546px;
    justify-content: flex-end;
}
.about-us__items {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}
.about-us__label {
    background: #F4F4F4 url("../icons/o_20x20.png") 16px no-repeat;
}
.about-us__experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 534px;
    width: 100%;
    margin-top: 38px;
}
.about-us__calendar {
    padding: 35px 34px;
    background: #F4F4F4 url("../icons/35.svg") center 35px no-repeat;
    display: flex;
    flex-direction: column;
}
.about-us__calendar>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 107px;
    width: 100%;
    height: 128px;
}
.about-us__calendar-heading {
    color: #1C2752;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}
.about-us__points {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.about-us__points li {
    margin-bottom: 16px;
}
.about-us__points li:before {
    content: '- ';
}

/* Services */

.services {
    background-color: #FFB342;
    height: 750px;
}
.services .section__content {
    flex-direction: column;
    gap: 40px;
    position: relative;
    top: 127px;
}
.services__selector {
    align-self: center;
    max-width: 723px;
    width: 100%;
}
.services__heading {
    color: #1C2752;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    margin: 0 0 18px 0;
}
.services__text {
    color: #1C2752;
    text-align: center;
    margin: 0 0 32px 0;
}
.services__buttons {
    display: flex;
    justify-content: space-between;
    height: 65px;
}
.services__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    max-width: 224px;
    width: 100%;
    padding: 15px 31px;
    border: 2px solid #1C2752;
}
.services__button--active {
    border: none;
}
.services__selected--commercial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    height: 516px;
    padding: 66px 59px;
}
.services__paragraph {
    display: flex;
    flex-direction: column;
    max-width: 611px;
    width: 100%;
}
.services__paragraph .paragraph__text {
    max-width: 562px;
    width: 100%;
}
.services__read-more {
    padding: 20px 43px;
    align-self: flex-start;
}
.services__selected--commercial img {
    width: 445px;
    height: 391px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* Our Services */

.our-services {
    background-color: #F4F4F4;
    height: 1329px;
    padding-bottom: 150px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.our-services .section__content {
    align-items: center;
    flex-direction: column;
}
.our-services__paragraph {
    text-align: center;
    max-width: 687px;
    width: 100%;
}
.our-services__paragraph .paragraph__label {
    background: #FFFFFF url("../icons/note.svg") 16px no-repeat;
}
.our-services__items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.our-services__box {
    display: flex;
    flex-direction: column;
    padding: 47px 36px;
    background-color: #1C2752;
}
.our-services__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 20px;
}
.our-services__heading {
    font-size: 25px;
    font-weight: 700;
    color: #FFB342;
    margin: 0 0 11px 0;
}
.our-services__text {
    color: #D2D2D2;
    width: 310px;
    margin: 0 0 30px 0;
}
.our-services__read-more {
    color: #FFFFFF;
}

/* Why Us */

.why-us {
    justify-content: flex-start;
    gap: 70px;
}
.why-us__achievements-container {
    background: url("../media/why-us.png");
    width: 845px;
    height: 921px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-us__achievements-list {
    background-color: rgba(28, 39, 82, 0.7);
    padding: 182px 115px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.why-us__achievement {
    display: flex;
    font-family: 'Mulish', sans-serif;
    font-size: 25px;
}
.why-us__achievement-count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    background-color: #FFB342;
    color: #1C2752;
    width: 96px;
    height: 65px;
}
.why-us__achievement-title {
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 260px;
    height: 65px;
    box-sizing: border-box;
    padding: 17px 22px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.why-us__reasons {
    align-self: center;
    width: 643px;
    height: 609px;
}
.why-us__reasons-bullet {
    display: flex;
    flex-direction: column;
    background: url("../icons/check.svg") top left no-repeat;
    box-sizing: border-box;
    width: 558px;
    padding-left: 45px;
}
.why-us__reasons-bullet .paragraph__heading {
    margin: 0;
}
.why-us__reasons-bullet .paragraph__text {
    margin: 5px 0 40px 0;
}
.gallery {
    background-color: #1C2752;
    flex-direction: column;
    align-items: center;
    padding: 169px 27px;
}
.gallery__label {
    align-self: unset;
}
.gallery__heading {
    color: #FFFFFF;
    margin: 9px 0 60px 0;
}
.gallery__photos {
    display: flex;
    gap: 30px;
}
.gallery__photo {
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 21px 22px;
    text-align: center;
}
.gallery__image {
    width: 400px;
    height: 501px;
}
.gallery__photo-heading {
    font-size: 25px;
    font-weight: 700;
    margin: 23px 0 7px 0;
}