/* General styles (Sitewide) */

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section__content {
    width: 1200px;
    display: flex;
    align-items: flex-start;
}

/* Typography */

html {
    font-family: Inter, sans-serif;
    font-size: 18px;
    color: #7E7E7E;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mulish', sans-serif;
}

/* Header */

.header-line {
    background-color: #F2F2F2;
    color: #1C2752;
    padding: 19px 0;
}
.header-line__socials {
    display: flex;
    align-items: center;
    gap: 17px;
}
.header-line__socials img {
    width: 18px;
    height: 18px;
}
.header-line .section__content {
    justify-content: space-between;
}
.header-logo {
    padding: 32px 0;
}
.header-logo .section__content {
    justify-content: space-between;
}
.header-logo__image {
    color: #1C2752;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    font-weight: 800;
}
.header-logo__image>img {
    width: 68px;
    height: 68px;
}
.header-logo__text img {
    width: 20px;
    height: 20px;
}

/* Contacts */

.contacts {
    display: flex;
    gap: 68px;
}
.contacts__contact {
    display: flex;
    gap: 12px;
}
.contacts__icon {
    background-color: #FFB342;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.contact__title {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #1C2752;
}
.contact__text {
    text-decoration: none;
    color: #7E7E7E;
}

/* Navigation */

.navigation {
    background-color: #FFB342;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
}
.navigation__menu {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 20px 0;
    margin: 0;
}
.navigation__menu-item a {
    color: #2F2F2F;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.navigation__dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFB342;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.navigation__dropdown:hover .navigation__dropdown-content {
    display: flex;
    flex-direction: column;
}
.navigation__cta {
    padding: 20px 22px;
    color: #FFFFFF;
    text-decoration: none;
    background: #1C2752;
}

/* Navigation */

.nav-section {
    position: relative;
    top: 66px;
    margin-top: -66px;
}

/* Hero */

.hero {
    background-image: url("../media/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 924px;
}
.hero .section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__heading {
    font-size: 60px;
    font-weight: 800;
    width: 50%;
    color: #FFFFFF;
}
.hero__cta {
    background: #FFB342;
    color: #1C2752;
    font-weight: 600;
    padding: 20px 33px;
    text-decoration: none;
}

/* Icon Label */

.icon-label {
    padding: 12px 16px 12px 52px;
    font-weight: 500;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.2) url("../icons/note.svg") 16px no-repeat;
}